.flex-container {
    display: inline-flex;
    gap: 70px;
    flex-direction: row !important;
    justify-content: space-between !important;
    width: fit-content;
}

.element-class {
    text-align: center;
}