
<table mat-table [dataSource]="dataSource" class="elevated center">
    <ng-container *ngFor="let column of displayedColumns; let i=index" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>{{ columnConfig[column].title }}</th>
      <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

<mat-paginator 
    class = "center" 
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions" 
    [showFirstLastButtons]="true"
    [length]="length"
    (page)="onChangePage($event)">
</mat-paginator>
