table {
  width: 90% !important;
}

mat-paginator {
  margin-top: 20px;
  width: 90%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

tr.mat-header-row {
  color: black;
}

.tableHeaderCellDiv { 
  resize: horizontal;  
  overflow:hidden;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}
  
th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.material-icons.md-18 { font-size: 18px; }

.margin-10 {margin: 10px;}

.mat-header-cell {
  background: white;
  font-size: 15px;
  font-weight: 550;
}

.mat-card-filter{
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 69%);
  font-weight: 400 !important;
  letter-spacing: 1px;
  padding: 0px !important;
}

.mdc-data-table__table {
   min-width: 0% !important; 
}

.elevated {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}