<mat-toolbar [ngStyle]="{'background-image': 'url(https://wallpapercave.com/wp/wp6376250.jpg)', 'background-size': 'contain', 'color': 'white'}">
    <mat-toolbar-row> 
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/home'"> Home </a>
        <a mat-button [routerLink]="'/pokemon'"> Pokémon </a> 
        <a mat-button [routerLink]="'/pokemon-abilities'"> Abilities</a>     
        <a mat-button [routerLink]="'/pokemon-species'"> Species</a>     
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
 