
html, body {  
    height: 100%; 
    width: 100%;
    height: 100%; 
    margin: 0;
    background: url('https://w.forfun.com/fetch/18/18612ed676a2690ce95846e708f2baa9.jpeg') repeat center; 
    background-size: cover;
    background-attachment: fixed, scroll;
    background-repeat: repeat-y; 
 } 