<mat-card>
    <mat-card-content>
        <app-dynamic-form [form]="form" [questions]="questions"></app-dynamic-form>
        <app-buttons [actionsConfig]="actionsConfig" (onEmitAction)="handleAction($event)"></app-buttons>
        <!-- <div class="container">
            <button *ngFor="let action of actionsConfig" mat-raised-button color="{{action.color}}" (click)="search(action)">
                <mat-icon>{{action.icon}}</mat-icon>
                {{action.title}}
            </button>
        </div> -->
    </mat-card-content>
</mat-card>